<h2 class="page-header"><%= book.title %></h2>
<div class="book-details">
  <div class="book-cover-with-btns">
    <img class="front-page-book-covers" src="<%= book.coverImagePath %>">
    <div class="btn-grid">
      <a class= "btn btn-primary" href="/books/<%= book.id %>/edit"> Edit</a>
      <a class= "btn btn-primary" href="/authors/<%= book.author.id %>"> View Author</a>
      <%- include('../partials/deleteForm', {url: `/books/${book.id}`})%>
    </div>    
  </div>  
  <div class="book-details-grid">
    <div class="book-details-label">Author:</div>
     <div class="book-info"><%= book.author.name %></div>
    <div class="book-details-label">Publish Date:</div>
     <div class="book-info"><%= book.publishDate.toDateString() %></div>
    <div class="book-details-label">Page Count:</div>
     <div class="book-info"><%= book.pageCount %></div>
    <div class="book-details-label">Description:</div>
     <div class="book-info"><%= book.description %></div>
  </div>
</div>
