<h2 class="page-header"><%= author.name %></h2>
<a class="btn btn-primary" href="/authors/<%=author.id%>/edit">Edit</a>
<%- include('../partials/deleteForm',
    {url: `/authors/${author.id}`}) %>
<% if (booksByAuthor.length > 0) { %>
  <h2>Books by Author</h2>
  <% booksByAuthor.forEach(book => { %>
    <a href ="/books/<%= book.id%>">
    <img class="front-page-book-covers" src="<%=book.coverImagePath %>">
    </a>
  <% }) %>
<% } %> 